<div class="list-group">
  <a href="#" class="list-group-item active" ng-click="showMes({type: 'inbox'})">
    Inbox
    <span class="badge">{{inbox}}</span>
  </a>
  <a href="#" class="list-group-item" ng-click="showMes({type: 'sent'})">
    Sent
    <span class="badge">{{sent}}</span>  
  </a>
  <a href="#" class="list-group-item" ng-click="showMes({type: 'spam'})">
    Spam
    <span class="badge">{{spam}}</span>
  </a>
  <a href="#" class="list-group-item" ng-click="showContacts()">
    Contacts
    <span class="badge">{{contacts}}</span>
  </a>
</div>